@using ControlProduct.Models.ViewModel
@model List<PedidoViewModel>
@{
    ViewData["Title"] = "Pedidos";
}

<div class="text-center">
    <h1 class="display-4">Pedidos</h1>
</div>

<p>Pedidos cadastrados: @(Model.Count())</p>

<div class="text-right mb-2">
    <a class="btn btn-primary" asp-action="CadastroPedido">Novo Pedido</a>
</div>


<div class="row">
    <div class="col-12">
        <table class="datatable-pedidos table">
            <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Pedido</th>
                    <th>Valor</th>
                    <th>Data do pedido</th>
                    <th>Data de entrega</th>
                    <th>Local de Entrega</th>
                    <th>Status</th>
                    <th>Valor Pago</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pedido in Model)
                {
                    <tr>
                        <td>@pedido.Cliente</td>
                        <td>
                            <button class="btn btn-primary">@pedido.Pedido.Count Produto(s)</button>
                        </td>
                        <td>@pedido.Valor</td>
                        <td>@pedido.DataPedido</td>
                        <td>@pedido.DataEntrega</td>
                        <td>@pedido.LocalEntrega</td>
                        <td>@pedido.Status</td>
                        <td>@pedido.ValorPago</td>
                        <td>
                            <a asp-action="CadastroPedido" asp-route-idCliente="@pedido.Id">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    //var DataTableConfig = {
    //    processing: true,
    //    serverSide: true,
    //    serverMethod: "POST",
    //    ajax: {
    //        url: "buscar-pedido",
    //        dataSrc: "data",
    //        data: function (d) {
    //            //d.var = "custom"
    //        }
    //    },
    //    columns: [
    //        { data: "cliente" },
    //        { data: "pedido" },
    //        { data: "valor" },
    //        { data: "dataPedido" },
    //        { data: "dataEntrega" },
    //        { data: "localEntrega" },
    //        { data: "status" },
    //        { data: "valorPago" },
    //        { data: "id" }
    //    ],
    //    columnDefs: [
    //        {
    //            targets: 0,
    //            render: function (data, type, row, meta) {
    //                return data;
    //            }
    //        },
    //        {
    //            targets: 8,
    //            orderable: false,
    //            seachable: false,
    //            render: function (data, type, row, meta) {
    //                return data;
    //            }
    //        }
    //    ]
    //}
    var DataTableConfig = {
        columnDefs: [
            {
                targets: [1, 8],
                orderable: false,
                searchable: false
            }
        ]
    }
</script>

@section Scripts {
    <script>
        $(document).ready(function () {

        });
    </script>
}