@model  List<Cliente>
@{
    ViewData["Title"] = "Clientes";
}

<div class="text-center">
    <h1 class="display-4">Cliente</h1>
</div>

<p>Clientes cadastrados: @(Model.Count())</p>
<a asp-action="CadastroCliente">Novo Cliente</a>
<div class="row">
    <div class="col-6">
        <table class="datatable-cliente table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Endereco</th>
                    <th>Telefone</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cliente in Model)
                {
                    <tr>
                        <td><a asp-action="CadastroCliente" asp-route-idCliente="@cliente.Id">@cliente.Id</a></td>
                        <td>@cliente.Nome</td>
                        <td>@cliente.Email</td>
                        <td>@cliente.Endereco</td>
                        <td>@cliente.Telefone</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>